# Logs
log/*
# *.log # Removed root wildcard to avoid ignoring important files if any, but actually it's safer to keep log/* only


# Python cache
__pycache__/
*.py[co]

# Environment
venv/
.venv/

# Google Plus backup
gplus/

# Google Cloud credentials
start_app_cred.sh
app/auth/gcloud.json 
src/app/auth/gcloud.json 
